/* ESTILOS INTRO */


*{
    font-size: 25px;
}

/* --HEADER-- */

.mainPpal{
    display: flex;
    text-align: center;
    font-family: 'Gowun Batang','Courier New';
    background-color: #E4D0E5;
}

.mainPpal div {
    margin: 2rem;
    padding: 0.5rem;
}
/* titulo saludo */
.mainPpal h1 {
    font-size: 3rem;
    font-family: 'Dancing script', 'Gowun Batang','Courier New';
}
/* ilustracion Andrea */
div.imgAndrea{
    width: 45rem;
    height: 45rem;
    border-radius: 50px;
    border: none;
}
.imgAndreaCel{
    display: none;
}
/* pocion botones enlaces */
.potion{
    width: 5rem;
}
.aSeeMore{
    font-family:'Dancing script';
    font-size: 1rem;
    color: black;
    text-decoration: none;
    translate: 20px;
    display: block;

}




/* -----ESTILOS ABOUT ME------ */
.aboutMe{
    background-color: #E4D0E5;
}
.titleAboutMe{
    background-color: #984C9D;
    font-family:'Dancing script' ;
    text-align: center;
    padding: 1rem;
}
/* contenedor imagen y texto */
.mainAbout{
    display:flex;
    vertical-align: middle;
}
/* p about me  */
.pAboutMe{
    display: flex;
    align-items: center;
    padding: 2rem;
    text-align: center;
    font-family: 'Gowun Batang';

}
/* imagen about me */
.calderoAboutMe{
    width: 40rem;
    height: 20rem;
}

/* -----TECH BOOKSHELF -----*/
/* titulo tech bookshelf */
.divTechBookshelf{
    background-color: #E4D0E5;
}
.titleTechBookshelf{
    background-color: #984C9D;
    font-family:'Dancing script';
    text-align: center;
    padding: 1rem;
    margin: 0;
}
.aResume{
    font-family:'Dancing script';
    font-size: 1rem;
    color: black;
    text-decoration: none;
    text-align: end;
    display: block;
    margin: 1rem;
}
/* imagen librero */
.techBookshelf{
    width:80%;
    height: 100%;
    display: block;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
}
/* ancla a proyectos */
.aProjects{
        font-family:'Dancing script';
        font-size: 1rem;
        color: black;
        text-decoration: none;
        text-align: center;
        translate: 20px -15px;
        display: block;
}

/* --CONTAINERD CARDS PROYECTOS */
.containerCards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        background-color: #E4D0E5;
        justify-items: center;
}


/* ESTILO CELULAR */
@media (max-width:481px) {
    *{
        font-size: 12px;
    }
    .mainPpal{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
        font-family: 'Gowun Batang','Courier New';
        background-color: #E4D0E5;
    }
    .imgAndrea{
        display: none;
    }
    .imgAndreaCel{
        display: inline-block;
        background-color: rgb(236, 220, 220);
        width: 15rem;
        height: 15rem;
        margin-bottom: 1rem;
        justify-content: center;
        border-radius: 100px;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    }
    .pAboutMe{
        display: flex;
        padding-right: 0px;
        text-align: center;
        font-family: 'Gowun Batang';
        font-size: 3vw;
    }
    .aboutMe{
        background-image: url("https://drive.google.com/uc?export=view&id=1D57nZqH5qC0_PMbKvaSRKrbcAkctFwC2");
        background-size:100vw ;
        background-position: 110px 70px;
        background-repeat: no-repeat;
    }
    .calderoAboutMe{
        display: none;
    }
    .aResume{
        translate: -140px 150px;
        color: black;
        font-size: 1rem;
    }
    /* --CONTAINERD CARDS PROYECTOS CELULAR*/
    .containerCards{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}
/* ESTILO TABLET */
@media (min-width:482px) {
    *{
        font-size: 20px;
    }
    .mainPpal{
        display: grid;
        grid-template-columns: 60% 40%;
        overflow: hidden;
        align-items: center;
        justify-items: center;
    }
    .imgAndrea{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        background-color: #ccc3dd;
        border: none;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    }

    .imgAndrea{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        background-color: #ccc3dd;
        border: none;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    }
    .mainPpal div {
        margin: 1rem;
        margin-top: 2rem;
        padding: 0.1;
    }
    
    .mainAbout{
        display:grid;
        grid-template-columns: 60% 40%;
        overflow: hidden;
        height: 700px;
    }
    /* p about me  */
    .pAboutMe{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        z-index:1;
    
    }
    /* imagen about me */
    .calderoAboutMe{
        width: 45rem;
        height: 45rem;
        z-index:0;
        translate: 6rem -35rem;
    }
        
    /* --CONTAINERD CARDS PROYECTOS CELULAR*/
    .containerCards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}
/* ESTILO DESKTOP */
@media (min-width:1200px) {
    *{
        font-size: 25px;
        
    }
    div.imgAndrea{
        width: 20rem;
        height: 20rem;
        margin-right: 10rem;
        align-items: center;
        justify-items: center;
    }
    /* --CONTAINERD CARDS PROYECTOS CELULAR*/
    .containerCards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .calderoAboutMe{
        width: 45rem;
        height: 45rem;
        z-index:0;
        translate: 12rem -32rem;
    }
}