/* ESTILOS INTRO */
*{
    font-size: 25px;
}

/* --HEADER-- */

.mainPpal{
    display: flex;
    text-align: center;
    font-family: 'Gowun Batang','Courier New';
    background-color: #E4D0E5;
}

.mainPpal div {
    margin: 2rem;
    padding: 0.5rem;
}
/* titulo saludo */
.mainPpal h1 {
    font-size: 3rem;
    font-family: 'Akshar', 'Gowun Batang','Courier New';
}
/* ilustracion Andrea */
.imgAndrea{
    width: 45rem;
    height: 45rem;
    margin-right: 10rem;
    align-items: flex-end;
}
.imgAndreaCel{
    display: none;
}
/* pocion botones enlaces */
.potion{
    width: 5rem;
}
.aSeeMore{
    font-family:'Akshar';
    font-size: 1rem;
    color: black;
    text-decoration: none;
    translate: 20px;
    display: block;

}




/* -----ESTILOS ABOUT ME------ */
.aboutMe{
    background-color: #E4D0E5;
}
.titleAboutMe{
    background-color: #984C9D;
    font-family:'Akshar' ;
    text-align: center;
    padding: 1rem;
}
/* contenedor imagen y texto */
.mainAbout{
    display:flex;
    vertical-align: middle;
}
/* p about me  */
.pAboutMe{
    display: flex;
    align-items: center;
    padding: 2rem;
    text-align: center;
    font-family: 'Gowun Batang';

}
/* imagen about me */
.calderoAboutMe{
    width: 40rem;
    height: 20rem;
}

/* -----TECH BOOKSHELF -----*/
/* titulo tech bookshelf */
.divTechBookshelf{
    background-color: #E4D0E5;
}
.titleTechBookshelf{
    background-color: #984C9D;
    font-family:'Akshar';
    text-align: center;
    padding: 1rem;
}
.aResume{
    font-family:'Akshar';
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    text-align: end;
    display: block;
}
/* imagen librero */
.techBookshelf{
    width:80%;
    height: 100%;
    display: block;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
}
/* ancla a proyectos */
.aProjects{
        font-family:'Akshar';
        font-size: 1rem;
        color: black;
        text-decoration: none;
        text-align: center;
        translate: 20px -15px;
        display: block;
}





/* ESTILO CELULAR */
@media (max-width:481px) {
    *{
        font-size: 12px;
    }
    .mainPpal{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
        font-family: 'Gowun Batang','Courier New';
        background-color: #E4D0E5;
    }
    .imgAndrea{
        display: none;
    }
    .imgAndreaCel{
        display: inline-block;
        width: 15rem;
        height: 15rem;
        margin-bottom: 1rem;
        justify-content: center;
    }
    .pAboutMe{
        display: flex;
        padding-right: 100px;
        text-align: center;
        font-family: 'Gowun Batang';
    }
    .aboutMe{
        background-image: url("https://drive.google.com/uc?export=view&id=1D57nZqH5qC0_PMbKvaSRKrbcAkctFwC2");
        background-size:60rem ;
        background-position: -80px 0px;
        background-repeat: no-repeat;
    }
    .calderoAboutMe{
        display: none;
    }
    .aResume{
        translate: -150px -20px;
        color: black;
        font-size: 1rem;
    }
    
}
/* ESTILO TABLET */
@media (min-width:482px) {
    *{
        font-size: 20px;
    }
    .imgAndrea{
        width: 15rem;
        height: 15rem;
        margin-right: 10rem;
    }
}
/* ESTILO DESKTOP */
@media (min-width:1200px) {
    *{
        font-size: 25px;
    }
    .imgAndrea{
        width: 25rem;
        height: 25rem;
        margin-right: 10rem;
    }
}