/* ESTILOS INTRO */
*{
    font-family: 'Montserrat', sans-serif;
}

/* --HEADER-- */

.mainPpal{
    display: flex;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #E4D0E5;
}

.mainPpal div {
    margin: 2rem;
    padding: 0.5rem;
}
/* titulo saludo */
.mainPpal h1 {
    font-size: 3rem;
    font-family: 'Dancing script', 'Gowun Batang','Courier New';
}
/* ilustracion Andrea */
.imgAndrea{
    width: 45rem;
    height: 45rem;
    border-radius: 50px;
    border: none;
}
.imgAndreaCel{
    display: none;
}
/* pocion botones enlaces */
.potion{
    width: 4rem;
}
.aSeeMore{
    font-family:'Dancing script';
    font-size: 1rem;
    color: black;
    text-decoration: none;
    translate: 20px;
    display: block;

}




/* -----ESTILOS ABOUT ME------ */
.aboutMe{
    background-color: #E4D0E5;
}
.titleAboutMe{
    background-color: #984C9D;
    font-family:'Dancing script' ;
    text-align: center;
    padding: 1rem;
}
/* contenedor imagen y texto */
.mainAbout{
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
        justify-items: center;
        padding: 0.3vw 0;
}
/* p about me  */
.pAboutMe{
    padding: 2rem;
    text-align: right;
    font-family: 'Montserrat', sans-serif;

}
/* imagen about me */
.imgAbout{
    width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: none;
        margin-top: 2rem;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.imgAboutCat{
    display: none;
}
.imgAboutDance{
    display: none;
}

/* -----TECH BOOKSHELF -----*/
/* titulo tech bookshelf */
.divTechBookshelf{
    background-color: #E4D0E5;
}
.titleTechBookshelf{
    background-color: #984C9D;
    font-family:'Dancing script';
    text-align: center;
    padding: 1rem;
    margin: 0;
}
.aResume{
    font-family:'Dancing script';
    font-size: 1rem;
    color: black;
    text-decoration: none;
    text-align: end;
    display: block;
    margin: 1rem;
}
/* imagen librero */
.techBookshelf{
    width:80%;
    height: 100%;
    display: block;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
}
/* ancla a proyectos */
.aProjects{
        font-family:'Dancing script';
        font-size: 1rem;
        color: black;
        text-decoration: none;
        text-align: center;
        display: block;
}

/* --CONTAINERD CARDS PROYECTOS */
.containerCards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        background-color: #E4D0E5;
        justify-items: center;
}


/* ESTILO CELULAR */
@media (max-width:481px) {
    *{
        font-size: 12px;
    }
    .mainPpal{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
        background-color: #E4D0E5;
    }
    .imgAndrea{
        display: none;
    }
    .imgAndreaCel{
        display: inline-block;
        width: 15rem;
        height: 15rem;
        margin-bottom: 1rem;
        justify-content: center;
        border-radius: 100px;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    }
    .mainAbout{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-items: center;
}
    .pAboutMe{
        font-size: 3vw;
        text-align: center;
        padding: 1rem 2rem;
    }
    .contImgsAbout{
        display: flex;
    }
    .imgAbout, .imgAboutCat, .imgAboutDance{
        display: flex;
        border-radius: 0;
        width: 8rem;
        height: 8rem;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 18% 50%, 0% 0%);
    }
    .imgAbout, .imgAboutCat, .imgAboutDance{
        display: inline-block;
        margin: 0 0.3rem;
        animation: shakeX; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 8s;
        animation-iteration-count: infinite;/* don't forget to set a duration! */
      }

    /* --CONTAINERD CARDS PROYECTOS CELULAR*/
    .containerCards{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}
/* ESTILO TABLET */
@media (min-width:482px) {
    *{
        font-size: 20px;
    }
    .mainPpal{
        display: grid;
        grid-template-columns: 60% 40%;
        overflow: hidden;
        align-items: center;
        justify-items: center;
    }
    .imgAndrea{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: none;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    }

    .imgAndrea{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: none;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    }
    .mainPpal div {
        margin: 1rem;
        margin-top: 2rem;
        padding: 0.1;
    }

    /* p about me  */
    .pAboutMe{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        z-index:1;
    
    }

        
    /* --CONTAINERD CARDS PROYECTOS CELULAR*/
    .containerCards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}
/* ESTILO DESKTOP */
@media (min-width:1200px) {

    /* --CONTAINERD CARDS PROYECTOS CELULAR*/
    .containerCards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
} 

/* ANIMACIONES */

.potion{
    display: inline-block;
    margin: 0 0.3rem;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s;
    animation-iteration-count: infinite;/* don't forget to set a duration! */
  }

  