.qrWa{
  width: 8vw;
  height: 8vw;
}

.spanWa{
  display: flex;
  flex-direction: column;
}

.titleContact {
  background-color: #984c9d;
  color: rgb(245, 239, 239);
  font-family: "Dancing script";
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.contactMainPpal{
  display: flex;
  align-items: center;
}
.contactMain {

  text-align: center;
  align-items:center ;
  font-family: "Montserrat", sans-serif;
  background-color: #e4d0e5;
  width: 100%;
  padding: 3rem;
  display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}


.ri-github-line, .ri-mail-line, .ri-linkedin-fill, .ri-cellphone-line,  .ri-global-line{
        font-size: 5vw;
}

/* ANIMACION CEL  */
.cardContact {
        --bg: #f7f7f8;
        --hover-bg: #ffe5fe;
        --hover-text: #8f1775;
        width: 60vw;
        height: 30vw;
        text-align: center;
        background: var(--bg);
        padding: 20px;
        position: relative;
        overflow: hidden;
        transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }
      
      .cardContact__body {
        color: #464853;
        line-height: 1.2rem;
        margin: 0 10px;
        font-size: 4vw;
      }
      
      .cardContact > strong {
        font-size: 4vw;
        letter-spacing: -.035rem;
      }
      
      .cardContact span {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--hover-text);
        border-radius: 5px;
        font-weight: bold;
        top: 100%;
        transition: all .3s cubic-bezier(.6,.4,0,1);
      }
      
      .cardContact:hover span {
        top: 0;
        font-size: 1.2rem;
      }
      
      .cardContact:hover {
        background: var(--hover-bg);
      }
      
      .cardContact:hover>div,.cardContact:hover>strong {
        opacity: 0;
      }

      @media (min-width:482px) {
        .cardContact {
          width: 35vw;
          height: 25vw;
        }
        .cardContact span a{
          font-size: 3vw;
        }
        .cardContact > strong {
          font-size: 3vw;
          letter-spacing: -.035rem;
        }
        
        .cardContact__body {
          line-height: 4vw;
          margin: 0 10px;
          font-size: 3vw;
        }
        
      }

      @media (min-width:1024px) {
        .cardContact {
          width: 20vw;
          height: 17vw;
        }
        .cardContact span a{
          font-size: 1.5vw;
        }
        .cardContact > strong {
          font-size: 1.8vw;
          letter-spacing: -.035rem;
        }
        
        .cardContact__body {
          line-height: 2vw;
          margin: 0 10px;
          font-size: 1.5vw;
        }
        
      }