.imgNav{
    width: 100%;
}
.NavBar {
    background-color: #984C9D;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    color: bisque;
}
.NavItem{
margin: 2rem;
}

.NavLink{
    color: #984C9D;
}

.logoHeader{
    height: 5rem;
}