.NavBar1 {
    background-color: #984C9D;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.NavItem .itemNav{
    color: white;
}
.logoHeader{
    height: 14vw;
}

@media (min-width:482px) {
    .NavBar .collapse:not(.show) {
        display: block;
    }
    ul.navbar-nav {
        display: flex;
        flex-direction: row;   
        align-items: center;     
    }
    .NavBar1 .container-fluid{
        display: flex;
        justify-content: space-between;
    }
    ul.navbar-nav{
        margin-left: 1rem;
        justify-content: flex-end;
    }
    ul.navbar-nav li{
        margin: 0  1rem;
    }
    .navbar-collapse {
        flex-basis: 0%
    }
    .botonNav{
        display: none;
    }
    
    .NavBar1 .NavBar {
        flex-wrap: nowrap;
        justify-items: flex-end;
    }
    .logoHeader{
        height: 6vw;
    }

}