.footer{
    background-color: #984C9D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: rgb(245, 239, 239);
}

.footer ul{
    display: flex;
    margin: 0;
}
.footer ul li{
    list-style-type: none;
    margin: 0rem 1rem;

}
.footer ul li a{
    color: rgb(245, 239, 239);
    text-decoration: none;

}

@media (max-width:481px) {

    
    .footer ul li{
        list-style-type: none;
    margin: 0rem 0.5rem;
    }
}