.footer{
    background-color: #984C9D;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    color: white;
    font-family:'Dancing script'; 
}

.footer ul{
    font-family:'Dancing script'; 
    display: flex;
    justify-content: right;
}
.footer ul li{
    list-style-type: none;
margin: 0rem 1rem;

}
.footer ul li a{
    color: white;
    text-decoration: none;

}

@media (max-width:481px) {
    .footer{
        padding-top: 1rem;
        padding-bottom: 0rem;
    }
    
    .footer ul li{
        list-style-type: none;
    margin: 0rem 0.5rem;
    }
}